@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Assistant";
    src: url("/fonts/Assistant/Assistant-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Heebo";
    src: url("/fonts/Heebo/static/Heebo-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Heebo-Bold";
    src: url("/fonts/Heebo/static/Heebo-Regular.ttf") format("truetype");
  }
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: Heebo;
}
